.variable-page-feedback{
 	-empiria-info-content: $[item.feedback];
 	color: #666666;
    display: block;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    width: 230px;
	}
.emp_report_page.noscroll .variable-page-feedback{
 	-empiria-info-content: $[item.feedback];
 	color: #666666;
    display: block;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    width: 370px;
	}	
.variable-page-feedback > *{
    padding:0 10px;
	}	
.emp_report_page.noscroll.notitle .info_report_2{
	display:none;
	}
.emp_report_page.noscroll .emp_content_position{
	margin-left: 100px;
	}
.emp_report_page.noscroll .activity_page .emp_content_icon,
.emp_report_page.noscroll .activity_page_scroll .emp_content_icon{
	background:url(icon_report_02_feedback.png) no-repeat center;
	width:100%;
	height:90px;
	}
.emp_report_page.noscroll .emp_report_text_total{
	width: 370px;
}