#video{
	width:auto;
	overflow:hidden;
}
.v_player_main{
	margin: 0 auto;
    padding: 0;
    width: 644px;
}
.a_player_screen{
	float:left;
	padding: 0px 40px 20px 0px;
}
.a_player_text1{
	float:left;
	max-width:450px;
}
.qp-media-text-track{
	color: #000000;
    font-size: 0.9em;
    font-style: italic;
    font-weight: normal;
    line-height: 1.6em;
    padding: 0 20px 2em 0px;
}
.video_buttons{
    height: 68px;
    margin-top: 10px;
    overflow: inherit;
    padding: 0px;
    position: relative;
    width: 100%;
}
.video_col_main{
	float: left;
    padding-top: 30px;
    width: 500px;
}
.video_col{
	width:68px;
	height:68px;
	display:inline-block;
}
.video_left{
	height:68px;
	float:left;
	padding-right: 10px;
}

.video_right{
    bottom: 12px;
    display: inline-block;
    float: right;
    position: relative;
    text-align: left;
}

.qp-media-volume-scrollbar{
	width: 41px;
	height:200px;
	z-index:1000;
}
.qp-media-volume-scrollbar-center{
	width: 100%;
	height: 80%;
}
.qp-media-volume-scrollbar-center-button {
	position: absolute;
	left: 0;
	top: 0px;
	float: left;
	width: 39px;
	height:31px;
	background-color: #fff;
	border: 1px solid #35c1fd;
}

.qp-media-volume-scrollbar-center-info {
	background-color: #fff;
	height: 100%;
	position: absolute;
	top: 0px;
	left:20px;
	width: 1px;
}

.qp-media-volume-scrollbar-center-button-top {
	background-color: #fff;
	height: 50px;
	position: absolute;
	left: 20px;
	width: 1px;
}

.qp-media-volume-scrollbar-center-button-bottom {
	background-color: white;
	height: 100%;
	position: absolute;
	left: 20px;
	width: 1px;
}

.qp-media-volume-scrollbar-center {
	height: 80%;
	width: 100%;
	float: left;
	background-color: #35c1fd;
	position: relative;
}

.qp-media-volume-scrollbar-top {
	height: 35px;
	width: 100%;
	float: left;
}
.qp-media-volume-scrollbar-bottom {
	height: 1px;
	width: 100%;
	float: left;
}

/*--------------progress bar------------- */
.qp-media-progressbar,
.qp-media-progressbar-fullscreen{
	width:100%;
	height:11px;
}
.qp-media-progressbar-center {
	height: 11px;
	width:100%;
	float: left;
	background-color: #transparent;
	position: relative;
}
.qp-media-progressbar-center-button {
	position: absolute;
	left: 0;
	top: 0px;
	float: left;
	width: 21px;
	height:11px;
	background-color: #4a4a4a;
}
.qp-media-progressbar-center-info {
	height: 48px;
	position: absolute;
	top: -30px;
	width: 100%;
	z-index: 20;
}

.qp-media-progressbar-left {
	height: 100%;
	width: 0px;
	float: left;
}
.qp-media-progressbar-right {
	float: right;
	width: 0px;
	float: right;
}

.qp-media-play-pause,
.qp-media-play-pause-fullscreen{
	width:68px;
	height:68px;
	background: url(btn_movie_player.png) no-repeat scroll 0px 0px;
	float:left;
}

.qp-media-play-pause:hover{
	width:68px;
	height:68px;
	background: url(btn_movie_player.png) no-repeat scroll -68px 0px;
	float:left;
}

.qp-media-play-pause-click{
	width:68px;
	height:68px;
	background: url(btn_movie_player.png) no-repeat scroll 0px -68px;
	float:left;
}

.qp-media-play-pause-click:hover{
	width:68px;
	height:68px;
	background: url(btn_movie_player.png) no-repeat scroll -68px -68px;
	float:left;
}

.qp-media-mute{
	width:68px;
	height:68px;
	float:left;
	background-image:url(video_muted.png);
}

.qp-media-stop,
.qp-media-stop-fullscreen{
	width:68px;
	height:68px;
	float:left;
	background: url(btn_movie_player.png) no-repeat scroll 0px -136px;
}
.qp-media-stop:hover,
.qp-media-stop-fullscreen:hover{
	width:68px;
	height:68px;
	float:left;
	background: url(btn_movie_player.png) no-repeat scroll -68px -136px;
}

.qp-media-stop-click{
	width:68px;
	height:68px;
	float:left;
	background: url(btn_movie_player.png) no-repeat scroll -136px -136px;
}

.qp-media-mute-click {
	width:68px;
	height:68px;
	float:left;
}

.qp-media-volume-click{
	width:68px;;
	height:68px;
	float:left;
}

.qp-media-volume,
.qp-media-volume-fullscreen{
	width:68px;
	height:68px;
	background: url(video_volume.png) no-repeat center center;
	float: right;
}
.qp-media-volume-hover{
	width:68px;
	height:68px;
	background: url(video_volume.png) no-repeat center center;
	float:right;
}
.qp-media-fullscreen-button{
	width:68px;
	height:68px;
	float:left;
	background-image:url(video_fullscreen_on.png);
}
.qp-media-fullscreen-button-fullscreen{
	width:100%;
	height:68px;
	float:left;
	background-image:url(video_fullscreen_off.png);
}
.qp-media-fullscreen-button-click{
	width:100%;
	height:68px;
	float:left;
	background-image:url(video_fullscreen_off.png);
}
.qp-media-fullscreen-button-unsupported{
	/*display:none;*/
	width:100%;
	height:72px;
	background: url(video_blank.png) no-repeat center center;
	float: left;
}
#mediaFullScreenButton{
	width:72px;
	height:72px;
	float: left;
}

#mediaPositinInStream{
	font-size:12px;
	font-weight:normal;
	padding:0;
	color:#1F2125;
	opacity: 0.5;
}


/* ---------------------player audio------------------ */

.a_player div:nth-child(4){
	/*display:none;*/
	position: absolute !important;
}

.a_player{
	display:inline-block;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin: 20px;
	margin:0px;
	padding:0px;
}

.audio_col_main{
	width: 330px;
	overflow:inherit;
    float:left;
    margin: 20px 10px 0px 10px;
}
.audio_col{
	width:72px;
	height:72px;
	float:left;
}
.audio_left{
	width:72px;
	height:72px;
	font-size: 0.7em;
	float:left;
}

.audio_right{
	width:72px;
	height:72px;
	float:left;
}
.audio_buttons{
	background: none repeat scroll 0 0 #EEEEEE;
    overflow: hidden;
    padding: 14px 10px 11px 13px;
    position: relative;
	-moz-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}
.audio_time{
	font-size:0.75em;
	padding-top: 1px;
	font-weight:bold;
}



/* ---------------- standard audio player buttons -------------------- */
/* ---------------- play-stop -------------------- */

.audio_player .qp-media-play-stop,
.audio_player .qp-media-play-stop-fullscreen{
	background: url(btn_audio_player.png) no-repeat scroll 0 0;
    cursor: pointer;
    height: 50px;
    width: 50px;
    clear:both;
}

.audio_player .qp-media-play-stop:hover{
    cursor: pointer;
    height: 50px;
    width: 50px;
	background: url(btn_audio_player.png) no-repeat scroll -50px 0px;
	clear:both;
}

.audio_player .qp-media-play-stop-click{
	background: url(btn_audio_player.png) no-repeat scroll -50px -100px;
    cursor: pointer;
    height: 50px;
    width: 50px;
    clear:both;
}

.audio_player .qp-media-play-stop-click:hover{
    cursor: pointer;
    height: 50px;
    width: 50px;
	background: url(btn_audio_player.png) no-repeat scroll 0px -100px;
	clear:both;
}
	
	
	
/* ---------------- play-pause-------------------- */

.audio_player .qp-media-play-pause,
.audio_player .qp-media-play-pause-fullscreen{
    background: url(btn_audio_player.png) no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 50px;
    width: 50px;
    clear:both;
}

.audio_player .qp-media-play-pause:hover{
    height: 50px;
    width: 50px;
	background: url(btn_audio_player.png) no-repeat scroll -50px 0px;
	clear:both;
}

.audio_player .qp-media-play-pause-click{
    background: url(btn_audio_player.png) no-repeat scroll 0px -50px transparent;
    cursor: pointer;
    height: 50px;
    width: 50px;
    clear:both;
}

.audio_player .qp-media-play-pause-click:hover{
    height: 50px;
    width: 50px;
	background: url(btn_audio_player.png) no-repeat scroll -50px -50px;
	clear:both;
}



/* ---------------- v_player -------------------- */

#mediaScreen{
	border: 2px solid #2E677B;
	width: 640px;
	height:360px;
}

.v_player .qp-media-play-stop{
    background: url(btn_movie_player.png) no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 68px;
    width: 68px;
	}
	
.v_player .qp-media-play-stop-click{
    background: url(btn_movie_player.png) no-repeat scroll 0 -50px transparent;
    cursor: pointer;
    height: 68px;
    width: 68px;
	}


.v_player .video_progres_bar_bg
{	
	border: 1px dashed;
    border-radius: 3px 3px 3px 3px;
    color: black;
    height: 3px;
    margin: 3px;
    opacity: 0.2;
    position: relative;
    top: -11px;
    z-index: 10;
}

.v_player .qp-media-progressbar-center {
    background: transparent;
    float: left;
    height: 11px;
    position: relative;
    width: 508px;
}

.v_player .video_col_main {
    float: left;
    padding-top: 30px;
    width: 490px;
}

/* ---------------- player progress bar -------------------- */
.qp-media-progressbar-center-button-before {
    background-color: #FFCC00;
    height: 11px;
    position: absolute;
    top: 0;
    width: 0;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.qp-media-progressbar-center-button {
	height:0;
	width:0;
	position:absolute;
	display:inline-block;
}

.qp-media-progressbar-center-button:after {
	background: url(btn_progres_bar_slider.png) no-repeat scroll 0 0 transparent;
	height: 48px;
	top: -33px;
	width: 32px;
	z-index: 30;
	margin-left:-16px;
	content:"";
	display:inline-block;
	position:relative;
}

.qp-media-progressbar, .qp-media-progressbar-fullscreen {
}


/* ---------------- a_player_all-------------------- */

.a_player_all div:nth-child(4){
	/*display:none;*/
	position: absolute !important;
}

.a_player_all{
	margin:0px;
	padding-top:7px;
	padding-left:10px;
	width:214px;
	height:60px;
	background: url(all_player_bg.png) no-repeat scroll 0 0;
	margin-left:20px;
	}

.a_player_all_main .a_player_left{
	float:left;
	padding-right: 15px;
}

.a_player_all_main .a_player_col_main{
	float: left;
    padding-top: 36px;
    width:112px;
}

.a_player_all_main .audio_progres_bar_bg{
	border: 1px dashed;
    border-radius: 3px 3px 3px 3px;
    color: black;
    height: 3px;
    margin: 3px;
    opacity: 0.2;
    position: relative;
    top: -11px;
    z-index: 10;
    width: 100px;
}

.a_player_all .qp-media-progressbar-center {
}

/* ----------------  display none element -------------------- */
.qp-object-content,
.qp-object-title,
.qp-object-description{
	display:none;
}

/* ----------------  v_player na l2g_page -------------------- */
.emp_l2g_content .v_player{
    margin-top:0px;
}

/* ----------------  a_player na obrazku w lewym gornym rogu -------------------- */
.a_player_over_img .a_player {
	position:absolute;
	margin:-12px;
	z-index:1;
}