.type_18{
}
.type_18 .qp-img-container{
	padding: 0;
}

.type_18 .qp-placeholder {
    padding: 0;
}
.type_18 .connection1,
.type_18 .connection_h{
    display: inline-block;
}
.type_18 .connection1 .qp-connection-left-column,
.type_18 .connection1 .qp-connection-right-column,
.type_18 .connection_h .qp-connection-left-column,
.type_18 .connection_h .qp-connection-right-column{
    display: inline-block;
    text-align: center;
    width: 100%;
    float: none;
}
.type_18 .connection1 .qp-connection-center-column,
.type_18 .connection_h .qp-connection-center-column{
	text-align:center;
	display:inline-block;
	width:100%;
	height:70px;
}
.type_18 .connection1 .qp-connection-item,
.type_18 .connection_h .qp-connection-item{
	display:inline-block;
	vertical-align: top;
	width:20%;
}
.type_18 .connection1 .qp-connection-item-content,
.type_18 .connection_h .qp-connection-item-content {
    display: inline;
    padding: 0;
    width: auto;
}


.type_18 .qp-text-inline {
    padding: 10px 0;
}


.type_18 .left .qp-connection-left-column .qp-text-inline{
	display:inline-block;
	text-align:left;
}


.type_18 .x6 .qp-connection-item{
	width:16%;
}

.type_18 .x5 .qp-connection-item{
	width:20%;
}

.type_18 .x4 .qp-connection-item{
	width:25%;
}

.type_18 .x3 .qp-connection-item{
	width:33%;
}

.type_18 .x2 .qp-connection-item{
	width:50%;
}

.type_18 .element{
    margin: 169px 0 0 12px;
    position: absolute;
    top: 0;
    width:auto;
}
.type_18 .element .a_player {
	margin-right: 130px;
}
.type_18 .qp-connection-item-content .a_player{
	display: inline-block;
}
.type_18 .connection_h .qp-connection-right-column .qp-text-inline span,
.type_18 .connection_1 .qp-connection-right-column .qp-text-inline span{
    display: inline-block;
}