.type_9{
	text-align: center;
}
.type_9 .a_player {
	 margin: 0;
	 position:absolute;
}
.type_9 .a_player:last-child {
	 top: 113px
}

.type_9 .qp-img {
    border: none;
	margin-bottom: 17px;
    } 
    
.type_9 .qp-img-container{
}

.type_9 .qp-placeholder {
	display: block;
    vertical-align: middle;
    padding: 0;
}
.type_9 .column{
	padding:0;
	text-align: center;
}
.type_9 .column .element:first-child {
    margin: 0 0 0 43px;
    position: absolute;
    width: 51px;
    z-index: 10;
    text-align: left;
} 
.type_9 .element:nth-last-child(2){
    position: absolute;
	margin: 14px 0 0 57px;
}
.type_9 .column:nth-child(-n+3){
	border-right: 1px dashed #CCCCCC;
}
.type_9 .column:nth-child(n+5){
	border-right: 1px dashed #CCCCCC;
	border-top: 1px dashed #CCCCCC;
}
.type_9 .column:last-child{
	border-right: none;
}

.type_9 .qp-media-fullscreen-button{
	display: none;
}


.type_9 .type_9_horizontal{
	text-align: center;
}
.type_9 .type_9_horizontal .a_player {
	 margin: 0;
	 position:inherit;
	 top: 0px;
}

.type_9 .type_9_horizontal .qp-img {
    border: none;
	margin-bottom: 0px;
	background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    margin-right:10px;
    } 
    
.type_9 .type_9_horizontal .qp-img-container{
}

.type_9 .type_9_horizontal .qp-placeholder {
	display: inline-block;
    vertical-align: middle;
    padding: 0;
}
		
.type_9 .type_9_vertical{
	text-align: center;
	display:inline-block;
}
.type_9 .type_9_vertical .a_player {
	 margin: 0;
	 position:inherit;
	 top: 0px;
	 display:inline-block;
}

.type_9 .type_9_vertical .qp-img {
	background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    margin:0px;
    margin-bottom: 0px;
    } 
    
.type_9 .type_9_vertical .qp-img-container{
	display:block;
	margin-bottom:10px;
}

.type_9 .type_9_vertical .qp-placeholder {
	display: inline-block;
    vertical-align: middle;
    padding: 0;
}

/* klasy dla ilustracji 172x130 */

.type_9 .type_9_horizontal_imgbig{
	text-align: center;
}
.type_9 .type_9_horizontal_imgbig .a_player {
	 margin: 0;
	 position:inherit;
	 top: 0px;
}

.type_9 .type_9_horizontal_imgbig .qp-img {
    border: none;
	margin-bottom: 0px;
	background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    margin-right:8px;
    } 
    
.type_9 .type_9_horizontal_imgbig .qp-img-container{
}

.type_9 .type_9_horizontal_imgbig .qp-placeholder {
	display: inline-block;
    vertical-align: middle;
    padding: 0;
}