/* page template 57 */

.type_0 .column_txt{
	padding-top:0px;
}

.type_0 .column_txt_add{
	padding-top:13px;
	padding-left:7px;
}

.type_0 .element_txt{
	padding-top:40px;
}

.type_0 .column_activity{
}