.type_12{
}
.type_12 .a_player {
	margin: 0;
}
.type_12 .qp-img-container{
	padding: 0;
}
.type_12 .qp-placeholder {
    padding: 0;
}
.type_12 .qp-connection-right-column .qp-connection-item-content {
    display: inline-block;
    padding: 7px 0 7px 28px;
    vertical-align: middle;
}
.type_12 .qp-connection-left-column .qp-connection-item-content {
    display: inline-block;
    padding: 7px 28px 7px 0;
    vertical-align: middle;
}