.type_17{
}
.type_17 .column .a_player {
    position: absolute;
    z-index: 10;
    left: 0;
}
.type_17 .qp-img-container{
	padding: 12px 0 0 12px;
}
.type_17 .qp-placeholder {
	display: inline-block;
    vertical-align: middle;
    padding: 0;
}
.type_17 .qp-textinteraction{
    padding: 2px 0 0px 12px;
}
.type_17 .column{
    position: relative;
}

